.header {
  z-index: 999;
}

body:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.cta-section{
  opacity: 0;
}

.cta-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  position: relative;
  z-index: 9999;
  padding: 40px;
}

.cta-section h2 {
  font-size: 3rem;
  font-weight: bold;
}

.cta-section > div > div {
  text-align: end;
  margin-top: 20px;
}

.cta-section button {
  position: relative;
  background-color: #366638;
  border: 2px solid #000;
  padding: 10px 25px;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 1;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}
.cta-section button:after {
  content: '';
  position: absolute;
  background-color: #4caf50;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
}

.cta-section button:before {
  content: '';
  position: absolute;
  background-color: #4caf50;
  width: 96%;
  height: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 2px solid #000;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}

.cta-section button > span:last-child {
  position: relative;
  font-weight: bold;
  color: #fff;
  z-index: 5;
}

.btnOverlay:before{
  content: '';
  position:absolute;
  width: 103%;
  height: 100%;
  top:0;
  left:-2px;
  background-color: rgba(65, 130, 68,0.4);
}

.btnOverlay{
  content: '';
  position:absolute;
  width: 95%;
  height: 100%;
  top:0;
  left:3px;
  background-color: #4caf50; 
  z-index:4;
}

 .cta-section button:hover .btnOverlay:before{
  background-color: rgba(65, 130, 68,0.6);
}

.cta-section button:focus, .cta-section button:focus:before {
  border: 2px solid blue;
}

.cta-section button:disabled .btnOverlay:before{
  cursor: default;
  background-color: #636363;
}

.cta-section button:disabled:before, 
.cta-section button:disabled:after,
.cta-section button:disabled{
  cursor: default;
  border-color:gray;
  background-color: #636363 !important;
  box-shadow: none;
}

.cta-section button:active .btnOverlay:before{
  background-color:  #4caf50; 
} 

.cta-section button:active:before, 
.cta-section button:active:after,
.cta-section button:active{
  box-shadow: none;
}

/* CONTACT FORM MODAL */
.contact-form__form {
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto; /* Enable scroll if needed */
  background-color: #fff/* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  position:absolute;
  right: 20px;
  top:10px;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.stepsWrapper{
  display: flex;
  gap:20px;
}

#prevStep, #nextStep, #submitBtn {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
}

#prevStep:hover, #nextStep:hover, #submitBtn:hover{
  opacity:0.8;
}

#prevStep:disabled, #nextStep:disabled{
  background-color: gray;
}

.stepsTop{
  position: relative;
  display:flex;
  justify-content:space-between;
  aling-items:center;
  margin-bottom:30px;

}

.stepsTop:before{
  content:'';
  position:absolute;
  width:100%;
  height:4px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  z-index:0;
}

.stepsTop > div{
  display: flex;
  justify-content:center;
  align-items:center;
  width:50px;
  height:50px;
  background-color:gray;
  border-radius: 100%;
  z-index:5;
}

.stepsTop p{
  position:relative;
  font-size:1.5rem;
  font-weight:bold;
  color:#fff;
  margin-bottom: 0;
}

.stepsTop > div.active{
  background-color:#000;
}

.stepsTop .step2.active:after{
  content:'';
  position:absolute;
  width: var(--barWidth, 0);
  height:4px;
  top:50%;
  left:35px;
  transform: translate(0, -50%);
  background-color: #000;
  z-index:2;
}

.stepsTop .step3.active:after{
  content:'';
  position:absolute;
  width: var(--barWidth, 0);
  height:4px;
  top:50%;
  left:52%;
  transform: translate(0, -50%);
  background-color: #000;
  z-index:2;
}

.checkMark{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  top: -15px;
  right: -20px;
  color: #fff;
  background-color:green;
  font-size:15px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.thank-you-msg h4{
  font-weight:bold;
  font-size: 1.4rem;
}


@media(max-width: 810px){
  .contact-form__inner{
    display: flex;
    gap:20px;
  }
  .cta-section{
    margin-right:20px;
    min-width: 45%;
  }

  .cta-section h2{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom:20px;
  }
}

@media(max-width: 640px){
  .contact-form__inner{
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-form__form{
    overflow: hidden;
    top: 40%;
    width: 100%;
    max-width: 100vw;
  }

  .close{
    color: #fff;
  }
}